
/* The following commented-out code is my failed attempt at declaring variables
    and so is a reminder to try again later. */
/*
$bgd: white; 
    */


body {
    background-color: white;
    display: block;
    min-width: 650px;
}

header {
    float: left;
    display:inline;
    margin: 5px 5px;
}

nav {

    clear: right;
    display:inline;
    color: black;
}

section {
    color: white;
    background-color: #A352AA; /* purple */
    border-radius: 40px;
    padding: 70px;
    width: 50vw;
    float: left;
    margin-left: 5vw;
    margin-bottom: 60px;
}

aside {
    float: left;
    width: 250px;
    margin-top: 100px;
    margin-left: 2vw;
    margin-right: 40px;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    min-height: 260px;
    margin-top: -1em;
    background: #414141; /* grey */
    color: white;
}
#footerLeft {
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15vw;
}

#footerLeft h3 {
    font-size: 19px;
}
#footerRight {
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15vw;
    line-height: 30px;
    text-align: right;
}

#footerRight h3 {
    font-size: 19px;
}

#footerMiddle{
    float: left;
    margin-left: 15vw;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15vw;
    line-height: 30px;
}
#footerMiddle a {
    color: white;
}
#footerMiddle h3{
    font-size: 19px;
}

#footerbottom{
    clear: both;
    display:block;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

legend {
    background-color: white;
    border-radius: 40px;
    padding: 1px 10px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 20px;
}

h2 {
    color: #72B4FF; /* blue */
    font-size: 50px;
}

#pageHeader {
    margin: 50px 60px;
}

h3 {
    color: white;
    font-size: 50px;
    margin: 5px;
    margin-left: auto;
    text-align: center;
}

h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-style:italic;
    text-align:center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #FF7029; /* orange */
}

.linkingDiv:hover {
    position: relative;
    left: -10px;
    top: -10px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

html * {
    font-family: 'Merriweather Sans', sans-serif;
}

#topNavBar{
    position: fixed;
    display: block;
    vertical-align:central;
    border-bottom: 1px solid black;
    background-color: white;
    width: 100vw;
    z-index: 10;
}

#topNavBarInvsBox {
    /* Invisible box accompanying #topNavBar for page positioning */
    height: 60px;
    margin-bottom: 10vh;
}

.topMenu {
    background-color: white;
}

.topMenu:hover {
    background-color: black;
    color: white;
}

.blueButton {
    background: #72B4FF;
    border-radius: 5em;
    padding-left: 10px;
    padding-right: 10px;
}

.purpleButton {
    background: #A352AA;
    border-radius: 5em;
    padding-left: 10px;
    padding-right: 10px;
}


/* The following style is used to display Validator controls in block format */
/* I'm commenting it out for now until I can test the page's visual layout.

span.validator[style*="inline"]{
    display: block !important;
}
    */

#bodyContents {
    margin-left: 300px;
    margin-right: 30px;
}

#bodyContents section {
    margin-bottom: 60px;
}

.standardLabel {
    display: inline-block; 
    width: 180px;
}

.contentWrapper {
    padding: 5vh 5vw;
    border: 1px solid #824187; /* dark purple */
    border-radius: 40px;
    color: black;
    background-color: white;
    margin: 20px 0px;
}

.contentWrapper h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
}

.contentWrapper h3 {
    font-size: 18px;
    color: black;
    text-align: center;
}


/* Default Page styles */


.loginScreen {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    padding-top: 30vh;
    background: rgba(0, 0, 0, 0.7);
}

.defaultSiteImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.defaultPgMainForm {
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}
#mainFormBox{
    width: 100vw;
    position: fixed;
}

.mainFormBuffer {
    min-height: 33vh;
}
.mainFormMiddle {
    height: 34vh;
    vertical-align: middle;
}

.loginSection {
    width:600px;
    padding: 30px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    position:fixed;
    left:0;
    right:0;
    display: inline-block;
}
.loginContents {
    width:430px;
    margin: auto;
}

.loginControls {
    margin-bottom: 15px;
}
.loginTextBox{
    width: 230px;
    margin-bottom: 15px;
}
.loginButtons{
    margin-left: auto; 
    margin-right: auto;
    text-align: center; 
}

#defaultFadeInBG{
    height: 60vh;
    z-index: 5;
    /* IE 10 onwards */ 
    background-image: -ms-linear-gradient(top, rgba(255,0,0,0), #FFFFFF 70%);
    /* Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(255,0,0,0), #FFFFFF 70%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(255,0,0,0) #FFFFFF 70%);
    /* Safari/Chrome 10 */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(255,0,0,0)), color-stop(70, #FFFFFF));
    /* Chrome 11 onwards */ 
    background-image: -webkit-linear-gradient(top, rgba(255,0,0,0), #FFFFFF 70%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #FFFFFF 70%);
    position: relative;
}
#defaultFadeOutBG{
    height: 60vh;
    z-index: 5;
    /* IE 10 onwards */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 30%, rgba(255,0,0,0));
    /* Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 30%, rgba(255,0,0,0));
    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 30%, rgba(255,0,0,0));
    /* Safari/Chrome 10 */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30, #FFFFFF), color-stop(rgba(255,0,0,0)));
    /* Chrome 11 onwards */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 30%, rgba(255,0,0,0));
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #FFFFFF 30%, rgba(255,0,0,0));
    position: relative;
}

#defaultPgAboutUs{
    background-color: #72B4FF;
    height: 100vh;
    z-index: 5;
    position: relative;
}
#defaultPgMatch{
    background-color: #A352AA;
    height: 100vh;
    z-index: 5;
    position: relative;
}

#defaultPgMatch, #defaultPgAboutUs p {
    color: white;
    font-size: 30px;
    text-align: center;
    min-width: 650px;
}

.defaultCardBuffer {
    height:25vh;
}

.defaultTextBox {
    height: 34vh;
    text-align: center;
    padding: 0px 20vw;
}


/* DashBoard styles */

.cphDashboardMain{
    float: left;
}

.detailsBox {
    color: black;
    width: 300px;
    margin: 40px auto;
    background-color: white;
    padding: 5vh 5vw;
    border: 1px solid #824187; /* dark purple */
    border-radius: 40px;
}

.detailsBoxOutline {
    padding: 5vh 5vw;
    border: 1px solid #824187; /* dark purple */
    border-radius: 40px;
}

.dashboardButton {
    float: right;
    font-size: 110%;
    width: 250px;
    height: 30px;
    margin: 0px auto;
    display: block;
}


/* My Message page styles */


.conversationBox {
    border: 3px solid #824187; /* dark purple */
    border-radius: 40px;
    background-color: #A8D1FF; /* light blue */
    padding: 10px 20px;
    min-height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.theirImage {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    background-color: white;
    vertical-align:auto;
}
.theirImage img {
    height:90px;
    width: auto;
}

.theirName {
    margin-top: 10px;
    margin-left: 120px;
    display: block;
    font-size: 20px;
}

.lastMessage {
    color: #5C5C5C; /* dark grey */
    margin-top: 20px;
    margin-left: 120px;
    font-size: 15px;
    font-style: italic;
}

#convoMessages {
    margin-left: 100px;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    vertical-align:bottom;
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    color: #5C5C5C;
}

.theirMessage, .myMessage {
    background-color: #dbdbdb; /* pale grey */
    padding: 5px 40px;
    margin: 10px 10px;
    border-radius: 5em;
    display: block;
    font-size: 15px;
}
.theirMessage {
    float: left;
}
.myMessage {
    float: right;
}



#myMessageInputWrapper{
    margin: 10px auto;
    display: block;
    width: 300px;
}
#myMessageTxt{
    float: left;
    margin: 5px auto;
}
#myMessageSendBtn{
    padding-top: 15px;
    margin: 5px auto;
    vertical-align: middle;
}


/* Search For page styles */


.searchForWrapper {
    margin-left: 15vw;
    margin-right: auto;
}

.searchBox {
    width: 400px;
}

#resultsAsideWrapper {
    background-color: #dbdbdb; /* pale grey */
    padding: 60px 20px;
    border-top-left-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
    border-bottom-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
}
#resultsAsideInnards{
    padding: 10px;
    background-color: white;
    border-top-left-radius: 5px 4px;
    border-top-right-radius: 5px 4px;
    border-bottom-left-radius: 5px 4px;
    border-bottom-right-radius: 5px 4px;
}

.resultsAsideBookend {
    padding: 20px 0px;
    border-bottom: 1px solid #dbdbdb; /* pale grey */
}

.resultBox {
    border: 3px solid #824187; /* dark purple */
    border-radius: 40px;
    background-color: #A8D1FF; /* light blue */
    padding: 20px 20px;
    min-height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resultText {
    margin-left: 120px;
    margin-right: 80px;
}

.resultName {
    font-size: 25px;
}

.resultLocation {
    font-size: 15px;
    margin: 10px 0px;
    font-style:italic;
    
}
.resultProfession {
    font-size: 18px;
}
.resultImage {
    max-width: 100px;
    height: auto;
    float: left;
}

#resultsBottom {
    width: 30vw;
    margin: auto;
}


.resultsPageNumber {
    margin: 0px 3px;
    font-family: 'Times New Roman';
}
.resultsPageNumber:hover {
    color: #FF7029; /* orange */
    font-weight: 900;
}

/* View Match pages styles */


.profilePic {
    margin-left:auto;
    margin-right: auto;
    max-width: 400px;
    height: auto;
    display: block;
}

.userDetails {
    margin-left: 109px;
    font-size: 18px;
}

.profileCategory {
    color: #5C5C5C; /* dark grey */
    font-size: 15px;
}

.detailsWrapper {
    background-color: #A352AA;
    border: 1px solid #824187; /* dark purple */
    border-radius: 40px;
    padding: 10px;
    margin: 30px 0px;
}

/* RSS styles */
#rss{
    margin: auto;
    padding: 40px;
    width: 450px;
    display: block;
    background-color: white;
    border-radius: 20px;
}